* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

header {
  text-align: center;
  color: black;
  padding: 1rem;
}

.container {
  width: 90%;
  margin: auto;
}

main {

  min-height: calc(100vh - 70px);

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;

    .text-section {
      background-color: white;
      width: 600px;
      padding: 1rem;
    }

    img {
      width: 600px;
    }

    div {
      font-size: 1.5rem;
      padding: 1rem 0;
    }

    button {
      font-size: 1rem;
      padding: 0.5rem;
      background-color: orange;
      border: none;
      font-weight: bold;
      color: white;

      &:hover {
        scale: 1.1;
        cursor: pointer;
      }
    }

  }

}

footer {
  background-color: #333;
  color: lightgray;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 3rem;
  font-size: 1.25rem;
}